/* #593a26 brown, #39a2ae turquoise, #2d7dd2 bright blue, #4d5061 grey, #f79256 orange, black for text only*/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #39a2ae;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    color: #593a26;
    width: 100vw;
}

header h1{
    text-shadow: 3px 3px 3px white;
}

nav a{
    font-size: 30px;
    background-color: #593a26;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    text-decoration: none;

}

nav a:hover{
    box-shadow: 3px 3px 3px black;
}

nav a:link{
    color: #593a26;
}

nav a:visited{
    color: #39a2ae;
}

header img{
    height: 100px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.senderName{
    display: flex;
    flex-direction: row;
    
}

#image1{
    position: absolute;
    height: 110px;
    left: 30px;
    top: calc(100% / 2 - 100px)
}

#image{
    position: absolute;
    height: 200px;
    right: 30px;
    top: calc((100 / 2) - 500px)
}


.contactButtons{
    display: flex;
    flex-direction: row;
    margin-left: 15px;

}

.inputField{
    margin-top: 15px;
}
.firstName{
    margin-right: 15px;
    width: 160px;
}
.lastName{
    width: 160px;
}


.contactButtons{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

@font-face {
    font-family: Ysabeau;
    src: url(/Fonts/Ysabeau/Ysabeau-VariableFont_wght.ttf);
}
@font-face {
    font-family: YsabeauItalic;
    src: url(/Fonts/Ysabeau/Ysabeau-Italic-VariableFont_wght.ttf);
}

@media screen and (max-width: 700px) {
    header h1{
        font-size: 15px;
    }
    header img{
        height: 50px;
    }
    nav a{
        font-size: 15px;
    }
}