/* #593a26 brown, #39a2ae turquoise, #2d7dd2 bright blue, #4d5061 grey, #f79256 orange, black for text only*/
@font-face {
    font-family: Ysabeau;
    src: url(/Fonts/Ysabeau/Ysabeau-VariableFont_wght.ttf);
}
@font-face {
    font-family: YsabeauItalic;
    src: url(/Fonts/Ysabeau/Ysabeau-Italic-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Ysabeau;
}

header{
    background-color: #39a2ae;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    height: 150px;
    

}
header img{
    height: 100px;
}

h1{
    font-family: YsabeauItalic;
    color: #593a26;
    text-shadow: 2px 2px 10px white;
}

nav a{
    font-size: 30px;
    background-color: #593a26;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    text-decoration: none;

}

nav a:hover{
    box-shadow: 3px 3px 3px black;
}

nav a:link{
    color: #593a26;
}

nav a:visited{
    color: #39a2ae;
}


#imageContainer{
    padding:20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#biggerImage{
    height: 400px;
    margin: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/Assets/Images/business.jpg");
}


#main img:not(.chosen){
    filter:grayscale();
    opacity: 0.5;
    transition: all 0.5s;
}

.chosen{
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0px 0px 3px;
    transition: all 0.5s;
}

#main img{
    height: 100px;
    margin: 0px 8px;
}
button{
    width: 50%;
    margin-top: 30px;
}


footer{
    text-align: center;
}

#info{
    font-size: 35px;
}

.inPageLinks{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    font-size: 35px;
}
.inPageLinks:hover{
    background-color: #39a2ae;
    color: #593a26;
    box-shadow: 3px 3px 10px black;
}
